<label for="managerSignature">Manager/Trainer Signature</label>
<input type="text" id="managerSignature" name="managerSignature" required />

<label for="parentSignature">Parent/Guardian Signature</label>
<input type="text" id="parentSignature" name="parentSignature" required />

<label for="parentFeedback">Parent/Guardian Feedback/Questions</label>
<input type="text" id="parentSignature" name="parentSignature" required />